.carousel {
  margin-top: -65px;
  height: 101vh;
  width: 100vw;
  background-size: cover ;
  background-color: black;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 3s ease-in-out;
  border-right: 1px solid black;
  margin-bottom: -10px;
  /* top: 0;
  left: 0; */
}



.default {
  background-image: url("https://drama-deets.s3.amazonaws.com/splash.png")
}

.home {
  background-image: url("https://drama-deets.s3.amazonaws.com/splash.png")
}

.photographer {
  background-image: url("https://drama-deets.s3.amazonaws.com/photographer.png")
}

.Acting {
  background-image: url("https://drama-deets.s3.amazonaws.com/defaultHome.png");
}
